@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&family=Marcellus+SC&family=Roboto:wght@400;700&display=swap');

// font-family: 'M PLUS 1',
// sans-serif;
// font-family: 'Marcellus SC',
// serif;


body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;

    // Прижимаем footer
    >main {
        flex: 1 1 auto;
    }

    // Фикс для слайдеров
    >* {
        min-width: 0;
    }
}

[class*="__container"] {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1300px;
}

.logo {
    text-align: center;

    // .logo__word
    &__word {
        font-family: 'M PLUS 1', sans-serif;
        font-size: 48px;
        line-height: 70px;
        letter-spacing: 0.1em;
    }

    // .logo__first-part
    &__first-part {
        color: #3E45E8;
    }

    // .logo__second-part
    &__second-part {
        color: #E8C23E;
    }
}

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;
    color: #000;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background: #3E45E8;
        width: 402px;
        height: 5px;
        left: 0;
    }
}


// ======================================================================================================


.page {

    // .page__main
    &__main {
        padding: 195px 0 307px;
        background: linear-gradient(0deg, rgba(20, 18, 18, 0.7), rgba(20, 18, 18, 0.7)),
            url(../img/content/main-bg.jpg) center center / cover no-repeat;
    }

    // .page__places
    &__places {
        padding: 72px 0 37px;
    }

    // .page__support
    &__support {
        padding: 37px 0 21px;
    }
}


// ======================================================================================================


.header {

    // .header__container
    &__container {}

    // .header__logo
    &__logo {
        padding: 25px 0 31px;
    }
}


// ======================================================================================================


.main {

    // .main__container
    &__container {}

    // .main__title
    &__title {
        max-width: 1075px;
        padding-left: 38px;
        font-weight: 700;
        font-size: 48px;
        line-height: 70px;
        color: #FFFFFF;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 11px;
            width: 22px;
            height: 136px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1E8DF2;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 147px;
            width: 22px;
            height: 136px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FBE201;
        }
    }
}


// ======================================================================================================


.places {

    // .places__container
    &__container {}

    // .places__title
    &__title {
        margin-bottom: 58px;

        &::before {
            bottom: -25px;
        }
    }

    // .places__cards
    &__cards {}
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    // .cards__item
    &__item {
        flex: 0 1 391px;
        box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        overflow: hidden;
        transition: all .3s;

        &:hover {
            scale: 1.05;
            box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.15);
        }
    }
}

.card {
    min-height: 481px;

    // .card__img
    &__img {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 16px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .card__info
    &__info {
        padding: 0 10px 10px;
    }

    // .card__title
    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 157.3%;
        color: #1E8DF2;
        margin-bottom: 10px;
    }

    // .card__description
    &__description {
        font-size: 20px;
        line-height: 157.3%;
        color: #E8C23E;
    }
}


// ======================================================================================================


.support {

    // .support__container
    &__container {}

    // .support__title
    &__title {
        margin-bottom: 62px;
        text-align: center;

        &::before {
            bottom: -21px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    // .support__img
    &__img {
        text-align: center;
        margin-bottom: 41px;
        
        img {
            max-width: 100%;

        }
    }

    // .support__btn
    &__btn {
        display: block;
        margin: 0 auto;
        font-weight: 700;
        font-size: 64px;
        line-height: 157.3%;
        color: #FFFFFF;
        background: #2A61F0;
        padding: 10px 92px;
    }
}


// ======================================================================================================


.footer {
    background: #2F4A4B;
    padding: 0 0 27px;

    // .footer__container
    &__container {}

    // .footer__logo
    &__logo {
        margin-bottom: 31px;
    }

    // .footer__mail
    &__mail,
    &__tel {
        font-family: 'Marcellus SC', serif;
        margin-bottom: 21px;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 0.1em;
        color: #A89D9D;
        text-align: center;
        margin-bottom: 21px;
    }

    // .footer__tel
    &__tel {
        margin-bottom: 26px;
    }

    // .footer__social
    &__social {
        margin: 0 auto;
    }
}

.social {
    
    // .social__list
    &__list {
        display: flex;
        gap: 20px;
        justify-content: center;
    }  

    // .social__item
    &__item {
        img{

            border-radius: 50%;
        }
    }
}